@use "global" as *;

.layout-pagenavi {
  text-align: center;
  margin-top: rem(78);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.layout-pagenavi.layout-pagenavi--voice-page {
  margin-top: rem(79);
  @include mq(md) {
    margin-top: rem(72);
  }
}