/* リキッドレイアウト対応 */
@use "global" as *;

@if $startFrom ==sp {

  //スマホファースト
  html {

    //~375px
    @media (max-width: 375px) {
      font-size: vw(375, 16);
    }

    //375px~767px
    font-size: 16px;

    @include mq("md") {
      font-size: vw(strip-unit($inner), 16);
    }

    //inner~max-screen
    @media (min-width: $inner) {
      font-size: 16px;
    }
  }
}

@else {

  //PCファースト
  html {
    font-size: 16px;

    @media (max-width: $inner) {
      font-size: vw(strip-unit($inner), 16);
    }

    @include mq("md") {
      font-size: 16px;
    }

    //~375px
    @media (max-width: 375px) {
      font-size: vw(375, 16);
    }
  }
}

/* pcの電話番号発信対応 */
// ホバーが使えて、細かい操作ができるポインター = マウス操作のPCを想定･･･@include mq("md")から修正  26.1.29
a[href^="tel:"] {
  @media (hover: hover) and (pointer: fine) {
    pointer-events: none; // クリック・タップ・ホバーを完全無効化
    cursor: default;  // マウスを乗せても指マーク（ポインター）にならない
  }
}

/* 表示はしたくないがスクリーンリーダーに読み上げはしてほしいときに使用 */
.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50% 50% 50% 50%);
  white-space: nowrap;
  border: 0;
}
