@use "global" as *;

.about {
  position: relative;
  background-color: white;  // ローディング最初の画面が出ないようにするため
}

.about__inner {
  position: relative;
}

.about__img-box {
  position: relative;
  margin-top: rem(28);
  padding-top: rem(26);

  @include mq(md) {
    margin-top: rem(40);
    padding-top: rem(80);
  }
}

.about__img-left {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  aspect-ratio: 128 /194;
  width: 37.1%;
  overflow: hidden;

  @include mq(md) {
    aspect-ratio: 400 / 606;
    width: 37.04%;
  }
}

.about__img-right {
  display: block;
  aspect-ratio: 281 / 186;
  width: 81.45%;
  overflow: hidden;
  margin-left: auto;

  @include mq(md) {
    aspect-ratio: 880 / 581;
    width: 81.48%;
  }
}

.about__img-left img,
.about__img-right img {
  height: 100%;
  object-fit: cover;
}

.about__text-body {
  margin-top: rem(40);

  @include mq(md) {
    position: absolute;
    top: rem(306);
    right: 5.84%;
    display: flex;
    max-width: rem(968);
    width: 100%;
    margin-top: 0;
    z-index: 10;
  }
}

.about__subtitle {
  font-family: $second-font-family;
  font-size: rem(40);
  font-weight: $normal;
  color: $blueaccent;

  @include mq(md) {
    width: 52.38%;
    font-size: rem(80);
    line-height: 1.68;
    color: $white;
  }
}

.about__subtitle span {
  @include mq(md) {
    background-image: radial-gradient(rgba($color: $blue, $alpha: 50%), rgba($color: $blue, $alpha: 20%));
  }
}

.about__text-block {
  margin-top: rem(16);

  @include mq(md) {
    width: 47.62%;
    margin-top: 0;
    padding-top: rem(256);
  }
}

.about__text {
  @include mq(md) {
    background-image: radial-gradient(rgba($color: $blue, $alpha: 50%), rgba($color: $blue, $alpha: 20%));
  }
}

.about__btn {
  text-align: center;
  margin-top: rem(50);

  @include mq(md) {
    margin-top: rem(56);
  }
}