@use "global" as *;

.blog-cards {
  position: relative;  // ローディング最初の画面が出ないようにするため
  z-index: 20;
  display: grid;
  gap: rem(40);

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(50) rem(40);
  }
}

.blog-cards.blog-cards--2col {
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(80);
  }
}