@use "global" as *;

.blog-card {
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black, $alpha: 25%);
  background-color: $white;
}

.blog-card--js {
  opacity: 0;
  transform: translateY(rem(300));
  transition-duration: 2s
}

.blog-card--js.is-active {
  opacity: 1;
  transform: translateY(0);
}

.blog-card__link {
  display: block;
  padding: rem(16) rem(16) rem(24);
}

.blog-card__img {
  display: block;
  aspect-ratio: 301 / 201;
  overflow: hidden;
}

.blog-card__img img {
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

// タッチデバイスのときはホバーエフェクトを無効にする
@media (any-hover: hover) {
  .blog-card:hover .blog-card__img img {
    transform: scale(1.36);
  }
}

.blog-card__body {
  margin-top: rem(17);
}

.blog-card__date {
  font-family: $second-font-family;
  font-size: rem(12);
  font-weight: $normal;
  color: $blue;
}

.blog-card__title {
  color: $blue;
  border-bottom: rem(1) solid $blueaccent;
  padding-bottom: rem(4);
}

.blog-card__text {
  margin-top: rem(15);
  // 5行より多くなったら「･･･」となるようにする（WP化で追加）
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
