@use "global" as *;

.campaign-card {
  box-shadow: rem(2) rem(2) rem(10) 0 rgba($color: $black, $alpha: 25%);
}

.campaign-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.campaign-card__img {
  aspect-ratio: 280 / 188;
  // width: rem(280);
  overflow: hidden;

  @include mq(md) {
    // width: rem(333);
    aspect-ratio: 333 / 223;
  }
}

.campaign-card__img--sub-page {
  @include mq(md) {
    aspect-ratio: 520 / 347;
  }
}

.campaign-card__img.campaign-card__img--blog-page {
  aspect-ratio: 294 / 188;
}

.campaign-card__img img {
  height: 100%;
  object-fit: cover;
}

.campaign-card__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: rem(16);

  @include mq(md) {
    padding: rem(24) rem(16) rem(32);
  }
}

.campaign-card__body--sub-page {
  @include mq(md) {
    padding: rem(24) rem(24) 0;
  }
}

.campaign-card__body.campaign-card__body--blog-page {
  padding: rem(15) rem(23) rem(16);
  @include mq(md) {
    padding-top: rem(16);
    padding-bottom: rem(18);
  }
}

.campaign-card__category {
  display: inline-block;
  width: fit-content;
  font-size: rem(12);
  font-weight: $normal;
  color: $blueaccent;
  padding: rem(5) rem(11);
  border: rem(1) solid currentColor;

  @include mq(md) {
    padding: rem(7) rem(15);
  }
}

.campaign-card__title {
  flex-grow: 1;
  border-bottom: rem(1) solid $blueaccent;
  margin-top: rem(4);
  padding-bottom: rem(8);
}

.campaign-card__title--blog-page {
  margin-top: 0;
  text-align: center;
}

.campaign-card__text {
  text-align: center;
  margin-top: rem(9);

  @include mq(md) {
    margin-top: rem(15);
  }
}

.campaign-card__text--sub-page {
  @include mq(md) {
    margin-top: rem(23);
  }
}

.campaign-card__text.campaign-card__text--blog-page {
  @include mq(md) {
    font-size: rem(14);
    margin-top: rem(9);
  }
}

.campaign-card__price {
  font-family: $third-font-family;
  font-weight: $bold;
  text-align: center;
  margin-top: rem(1);

  @include mq(md) {
    line-height: 1.37;
    margin-top: rem(1);
  }
}

.campaign-card__price.campaign-card__price--blog-page {
  @include mq(md) {
    margin-top: rem(3);
  }
}

.campaign-card__price-before {
  display: block;
  position: relative;
  font-size: rem(20);

  @include mq(md) {
    font-size: rem(24);
  }
}

.campaign-card__price-before.campaign-card__price-before--blog-page {
  @include mq(md) {
    font-size: rem(20);
  }
}

.campaign-card__price-before.campaign-card__price-before--blog-page::before {
  @include mq(md) {
    top: 45%;
    width: rem(76);
  }
}

.campaign-card__price-after {
  position: relative;
  left: rem(1);
  display: block;
  font-size: rem(32);
  color: $blueaccent;

  @include mq(md) {
    font-size: rem(32);
  }
}

.campaign-card__price-after.campaign-card__price-after--blog-page {
  @include mq(md) {
    font-size: rem(32);
    margin-left: rem(17);
  }
}

.campaign-card__information {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: rem(16);
  @media (max-width: 767px) {
    display: none;
  }
}

.campaign-card__information-text {
  flex-grow: 1;
  font-size: rem(16);
  font-weight: $normal;
  color: $blue;
}

.campaign-card__information-period {
  font-family: $third-font-family;
  font-size: rem(16);
  font-weight: $bold;
  color: $blueaccent;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: rem(29);
  padding-right: rem(15);
}

.campaign-card__information-inquiry {
  font-size: rem(14);
  font-weight: $normal;
  color: $blueaccent;
  text-align: center;
  margin-top: rem(3);
}

.campaign-card__btn {
  text-align: center;
  padding-bottom: rem(5);
  margin-top: rem(16);
}