@use "global" as *;

.header {
  background-color: rgba($color: $blue, $alpha: 68%);
  transition: background-color 0.3s;
}

.header.is-color {
  background-color: $blue;
}

.header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0 rem(15);

  @include mq(md) {
    padding: 0 rem(20);
  }

  @include mq(lg) {
    padding: 0 rem(25);
  }
}

.header__logo {
  position: relative;
  z-index: 100;
  // display: flex;
  // align-items: center;
  // height: inherit;
  padding-top: rem(5);

  @include mq(md) {
    left: rem(-4);
    padding-top: rem(7);
  }
}

.header__logo-link {
  display: block;
  aspect-ratio: 160 / 40;
  width: rem(160);
  overflow: hidden;

  @include mq(lg) {
    aspect-ratio: 200 / 50;
    width: rem(200);
  }
}

.header__logo-link img {
  height: 100%;
  object-fit: cover;
}

.header__hamburger {
  margin-left: auto;
  padding-top: rem(5);

  @include mq(md) {
    display: none;
  }
}

.header__pc-nav {
  display: none;
  height: inherit;

  @include mq(md) {
    display: block;
    margin-left: auto;
  }
}
