@use "global" as *;

.page-contact__inner.inner {
  max-width: rem(750);
}

.page-contact__thanks-title {
  font-size: rem(16);
  font-weight: $normal;
  text-align: center;
  @include mq(md) {
    padding-top: rem(12);
  }
}

.page-contact__thanks-text {
  font-size: rem(16);
  font-weight: $normal;
  text-align: center;
  @media (max-width: 767px) {
    font-size: 0.98rem;
  }
}

.page-contact__thanks-text:nth-child(2) {
  margin-top: rem(38);
}