@use "global" as *;

.page-plans__heading {
  font-size: rem(24);
  font-weight: $medium;

  @include mq(md) {
    font-size: rem(32);
  }
}

.page-plans__category {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(40);
  }
}

// グリッドは.plans-listで管理 25.2.3
.page-plans__items {
  // display: grid;
  // gap: rem(40);
  padding: 0 rem(32) 0 rem(33); // カードにwidthをつけずにpaddingで調整 25.8.21
  margin-top: rem(40);

  @include mq(md) {
  //   grid-template-columns: repeat(2, 1fr);
  //   gap: rem(80) rem(40);
  padding: 0;
  }
}

.page-plans__items.page-plans__items--voice-page {
  padding: 0;
}
