@use "global" as *;

.page-about__inner {
  position: relative;
}

.page-about__img-box {
  position: relative;

  @include mq(md) {
    padding-top: rem(80);
  }
}

.page-about__img-left {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 128 /194;
  width: 37.1%;
  overflow: hidden;

  @include mq(md) {
    left: rem(1);
    aspect-ratio: 400 / 606;
    width: 37.04%;
    z-index: 5;
  }
}

.page-about__img-right {
  display: block;
  aspect-ratio: 345 / 228;
  width: 100%;
  overflow: hidden;

  @include mq(md) {
    position: relative;
    left: rem(1);
    aspect-ratio: 880 / 581;
    width: 81.48%;
    margin-left: auto;
  }
}

.page-about__img-left img,
.page-about__img-right img {
  height: 100%;
  object-fit: cover;
}

.page-about__text-body {
  display: contents;

  @include mq(md) {
    position: absolute;
    top: rem(200);
    right: 5.84%;
    display: flex;
    max-width: rem(840);
    width: 100%;
    z-index: 10;
  }
}

.page-about__subtitle {
  position: absolute;
  top: rem(24);
  left: rem(39);
  font-family: $second-font-family;
  font-size: rem(40);
  font-weight: $normal;
  line-height: 1;
  color: $white;

  @include mq(md) {
    position: static;
    width: 52.38%;
    font-size: rem(80);
    line-height: 1.25;
  }
}

.page-about__text-block {
  margin-top: rem(40);

  @include mq(md) {
    width: 47.62%;
    margin-top: 0;
    padding-top: rem(26);
  }
}

.page-about__text {
  position: relative;
  right: rem(1);

  @include mq(md) {
    right: 0;
  }
}