@use "global" as *;

.page-404__wrapper {
  background-color: $blueaccent;
  padding-top: rem(80);
  padding-bottom: rem(44);
  @include mq(md) {
    padding-top: rem(90);
    padding-bottom: rem(152);
  }
}

.page-404 {
  position: relative;
}

.page-404::before {
  content: "";
  background-image: url(../images/common/agent-large.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: rem(-70);
  left: rem(15);
  width: rem(325);
  height: rem(325);
  opacity: 0.7;
  @include mq(md) {
    top: rem(-140);
    left: calc(50% - min(48%, rem(540)));
    width: rem(600);
    height: rem(600);
  }
}

.page-404__text {
  position: relative;
  font-family: $third-font-family;
  font-size: rem(16);
  font-weight: $normal;
  color: $white;
  text-align: center;
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.page-404__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}