@use "global" as *;

.page-about__inner {
  position: relative;
}

.page-about__img-box {
  position: relative;
  padding-top: rem(26);

  @include mq(md) {
    padding-top: rem(80);
  }
}

.page-about__img-left {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 128 /194;
  width: 37.1%;
  overflow: hidden;

  @include mq(md) {
    aspect-ratio: 400 / 606;
    width: 37.04%;
    z-index: 5;
  }
}

.page-about__img-right {
  display: block;
  aspect-ratio: 281 / 186;
  width: 81.45%;
  overflow: hidden;
  margin-left: auto;

  @include mq(md) {
    aspect-ratio: 880 / 581;
    width: 81.48%;
  }
}

.page-about__img-left img,
.page-about__img-right img {
  height: 100%;
  object-fit: cover;
}

.page-about__text-body {
  @include mq(md) {
    position: absolute;
    top: rem(200);
    right: 5.84%;
    display: flex;
    max-width: rem(968);
    width: 100%;
    z-index: 10;
  }
}

.page-about__subtitle {
  position: absolute;
  top: rem(56);
  left: rem(24);
  font-family: $second-font-family;
  font-size: rem(30);
  font-weight: $normal;
  line-height: 1.68;
  color: $white;

  @include mq(md) {
    position: static;
    width: 52.38%;
    font-size: rem(80);
  }
}

.page-about__subtitle span {
  background-image: radial-gradient(rgba($color: $blue, $alpha: 50%), rgba($color: $blue, $alpha: 20%));
}

.page-about__text-block {
  margin-top: rem(40);

  @include mq(md) {
    width: 47.62%;
    margin-top: 0;
    padding-top: rem(256);
  }
}

.page-about__text {
  @include mq(md) {
    background-image: radial-gradient(rgba($color: $blue, $alpha: 50%), rgba($color: $blue, $alpha: 20%));
  }
}