@use "global" as *;

.pc-nav__items {
  display: flex;
  gap: rem(40);
  align-items: center;
  justify-content: center;
  height: inherit;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  color: $white;
}

.pc-nav__link::after {
  content: "";
  // 絶対配置で線の位置を決める
  position: absolute;
  bottom: rem(21);
  left: 0;
  // 線の形状
  width: 100%;
  height: 2px;
  background: currentColor;
  // アニメーションの指定
  transition: transform 0.3s;
  transform: scale(0, 1); // X方向0、Y方向1
  transform-origin: center top; // 上部中央基点
}

.pc-nav__link:hover {
  opacity: 1;
}

.pc-nav__link:hover::after {
  transform: scale(1, 1); // X方向にスケール拡大
}

.pc-nav__engtext {
  position: relative;
  font-family: $second-font-family;
  font-size: rem(18);
  font-weight: $normal;
  line-height: 1;
}

.pc-nav__jatext {
  position: relative;
  font-size: rem(10);
  font-weight: $normal;
  margin-top: rem(4);
}
