@use "global" as *;

.plans {
  overflow: hidden;
}

.plans__inner {
  position: relative;
}

.plans__inner.inner {
  padding-left: rem(9);

  @include mq(md) {
    padding-left: rem(19);
  }
}

.plans__title.section-header {
  padding-left: rem(6);

  @include mq(md) {
    padding-left: rem(7);
  }
}

.plans__swiper {
  margin-top: rem(28);
  margin-right: calc(50% - 50vw);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.plans__btn-next,
.plans__btn-prev {
  position: absolute;
  top: 23px; // rem(23)だと幅1015px以下で円の頭が切れてくる
  width: rem(80);
  height: rem(80);
  transition: opacity 0.3s;
}

.plans__btn-next {
  right: 2.2%;
}

.plans__btn-prev {
  left: 76.55%; // スワイパー側でleftに数値があり、rightはauto。rightで指定する場合、leftをautoにする必要あり
}

.plans__btn-next:hover,
.plans__btn-prev:hover {
  opacity: 0.7;
}

.plans__btn-next::after,
.plans__btn-prev::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(80);
  height: rem(80);
}

.plans__btn-next::after {
  background-image: url(../images/common/next-btn.svg);
}

.plans__btn-prev::after {
  background-image: url(../images/common/prev-btn.svg);
}

.plans__btn {
  text-align: center;
  margin-top: rem(30);
  padding-bottom: rem(5);

  @include mq(md) {
    margin-top: rem(70);
    padding-left: rem(2);
  }
}