@use "global" as *;

// .page-plans__itemsからグリッドを移した 25.2.3
.plans-list {
  display: grid;
  gap: rem(40);

  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
  }
}

.plans-list__item {
  // width: rem(280);  // 幅はpaddingで調整 25.8.21
  height: auto; // FB：テキストが増えてもカードの高さを揃えるため → 最終_FB(2)：.plans-cards__itemのmax-widthが不要なため、新たにplans-listブロックを作成。ここでは、スワイパーのカードと違い、height: auto;は不要かも
  // margin: auto;

  @include mq(md) {
    display: grid;
    grid-template-rows: subgrid;
    // width: rem(520);
  }
}
