@use "global" as *;

.sp-nav {
  display: none;
  position: absolute;
  top: rem(80);
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: $blueaccent;
}

.sp-nav__inner {
  height: calc(100vh - rem(80));
  overflow-y: auto;
  padding-bottom: rem(32);
}

.sp-nav__container {
  display: flex;
  width: 100%;
  max-width: rem(600);
  margin: auto;
  padding: rem(5) rem(15) 0;
}

.sp-nav__left-content {
  width: 50.2%;
  padding-bottom: rem(16);
}

.sp-nav__right-content {
  width: 49.8%;
  padding-bottom: rem(8);
}

.sp-nav__left-items:first-child {
  padding-bottom: rem(2);
}

.sp-nav__right-items:nth-child(2) {
  margin-top: 8px;
}

.sp-nav__left-item,
.sp-nav__right-item {
  font-size: rem(16);
  color: $white;
  padding-bottom: rem(1);
}

.sp-nav__left-item:nth-child(2) {
  margin-top: 8px;
}

.sp-nav__right-item:nth-child(2) {
  margin-top: 2px;
}

.sp-nav__link {
  position: relative;
  display: block;
  font-weight: $bold;
  padding: rem(16) 0 rem(15) rem(22);
}

.sp-nav__right-items:nth-child(2) .sp-nav__right-item:nth-child(2) .sp-nav__link {
  line-height: 1.1;
  padding-top: rem(20);
}

.sp-nav__right-items:nth-child(2) .sp-nav__right-item:nth-child(3) .sp-nav__link {
  padding-top: rem(21);
}

.sp-nav__right-items:nth-child(2) .sp-nav__right-item:nth-child(4) .sp-nav__link {
  padding-top: rem(18);
}

.sp-nav__link::before {
  content: "";
  position: absolute;
  top: rem(19);
  left: 0;
  display: inline-block;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/transceiver.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.sp-nav__right-items:nth-child(2) .sp-nav__right-item:nth-child(3) .sp-nav__link::before {
  top: rem(24);
}

.sp-nav__right-items:nth-child(2) .sp-nav__right-item:nth-child(4) .sp-nav__link::before {
  top: rem(21);
}

.sp-nav__left-detail-item,
.sp-nav__right-detail-item {
  font-weight: $normal;
}

.sp-nav__left-detail-link,
.sp-nav__right-detail-link {
  display: block;
  padding-bottom: rem(9);
  padding-left: rem(22);
}

.sp-nav__left-detail-item:first-child .sp-nav__left-detail-link,
.sp-nav__right-detail-item:first-child .sp-nav__right-detail-link {
  padding-top: rem(3);
}

.sp-nav__left-detail-item:not(:first-child) .sp-nav__left-detail-link,
.sp-nav__right-detail-item:not(:first-child) .sp-nav__right-detail-link {
  padding-top: rem(9);
}