@use "global" as *;

.tab__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(20);
  background-color: $white;
  @include mq(md) {
    gap: rem(90);
    width: 100%;
    max-width: 100%;
  }
}

.tab__item {
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.44;
  color: $blueaccent;
  text-align: center;
  text-transform: uppercase;
  background-color: $blue2;
  border: none;
  padding: rem(10) 0;
  box-shadow: rem(2) rem(2) rem(4) rgba($color: $black, $alpha: 25%);
  cursor: pointer;
  @include mq(md) {
    position: relative;
    font-size: rem(24);
    padding: rem(29) rem(20) rem(26) rem(75);
  }
}

.tab__item:hover {
  color: $white;
  background-color: $blueaccent;
}

.tab__item::before {
  @include mq(md) {
    content: "";
    position: absolute;
    top: rem(13);
    left: rem(20);
    width: rem(64);
    height: rem(64);
    background-image: url(../images/common/agent.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.tab__item:hover::before {
  @include mq(md) {
    background-image: url(../images/common/agent-white.svg);
  }
}

.tab__item.is-active {
  color: $white;
  border-color: transparent;
  background-color: $blueaccent;
}

.tab__item.is-active::before {
  @include mq(md) {
    background-image: url(../images/common/agent-white.svg);
  }
}