@use "global" as *;

.two-column__inner {
  @include mq(md) {
    position: relative;
    display: flex;
    gap: rem(80);
  }
}

.two-column__article {
  @include mq(md) {
    width: 65.37%;
  }
}

.two-column__aside {
  margin-top: rem(80);

  @include mq(md) {
    width: 27.22%;
    margin-top: 0;
  }
}
