@use "global" as *;

.voice {
  position: relative;
  background-color: white;  // ローディング最初の画面が出ないようにするため
}

.voice__items {
  margin-top: rem(44);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.voice__btn {
  text-align: center;
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(80);
  }
}