@use "global" as *;

.voice {
  position: relative;
  background-color: white;  // ローディング最初の画面が出ないようにするため
}

.voice::after {
  @include mq(md) {
    content: "";
    background-image: url(../images/common/bodyguard-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: calc(50% - min(48%, rem(640)));
    bottom: rem(53);
    width: rem(162);
    height: rem(162);
  }
}

.voice__title-en {
  letter-spacing: 0.01em;
}

.voice__title-jp {
  padding-right: rem(1);
}

.voice__items {
  margin-top: rem(44);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.voice__btn {
  text-align: center;
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(80);
  }
}